<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <img src="../../assets/logoK.png" width="60px" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/atelier" routerLinkActive="active-link">Atelier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formation" routerLinkActive="active-link">Formation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/evenement" routerLinkActive="active-link">Événement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artist" routerLinkActive="active-link">Galérie</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active-link">Shop</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
