<div class="admin-page">
    <p-card header="Dashboard" subheader="Dernière mise à jour">
        <div class="grid">
            <div class="col-3">
                <p-card styleClass="d-orders">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-shopping-cart"></i><br>
                            <span class="name">Commandes</span>
                        </div>
                        <span class="number">25</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-products">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-briefcase"></i><br>
                            <span class="name">Formations</span>
                        </div>
                        <span class="number">30</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-users">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-users"></i><br>
                            <span class="name">Utilisateurs</span>
                        </div>
                        <span class="number">4</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-totalsales">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-dollar"></i><br>
                            <span class="name">Total ventes</span>
                        </div>
                        <span class="number">25$</span>
                    </div>
                </p-card>
            </div>
        </div>
    </p-card>
</div>