<div style="height: 60px;"></div>
<body>
    <app-navbar></app-navbar>
    <section id="banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 video-container text-center">
                    <video width="100%" controls>
                        <source src="../../assets/images/video11.mp4" type="video/mp4">
                        Votre navigateur ne prend pas en charge la balise vidéo.
                    </video>
                </div>
                <div class="col-md-6 text-center">
                    <h1>Fortness de l'Art</h1>
                    <h2>Espace culturel privé d'Art</h2>
                    <p>On s'amuse, on apprend, on crée</p>
                    <a id="btn" href="#join" class="btn btn-primary">Rejoignez-nous</a>
                </div>
            </div>
        </div>
        
     <img src="../../assets/images/wave1.png" class="bottom-img">
    </section>
    <section class="about">
        <div class="main">
            <div class="image-container">
                <img src="../../assets/images/image5.jpg" alt="">
                <img src="../../assets/images/image6.jpg" alt="">
                <img src="../../assets/images/image7.jpg" alt="">
            </div>
            <div class="all-text">
                <h4>About us</h4>
                <h1>Un atelier de formation artistique</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil harum maxime facere minus sapiente temporibus ad autem illo, libero possimus totam reprehenderit corporis consequatur molestiae doloremque quos assumenda accusamus?
                </p>
                <div class="btn">
                    <button type="button">Learn More</button>
                </div>
            </div>
        </div>
        
    </section>

    <section class="location">
        <div class="container">
            <h2>Notre Local</h2>
            <p>Venez nous rendre visite à notre local. Voici notre emplacement :</p>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.036818412048!2d10.524456675600849!3d35.87261457252611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8c09a890858f%3A0x23980d730f5a0b5b!2sForteresse%20de%20la%20gravure!5e0!3m2!1sfr!2stn!4v1724414136134!5m2!1sfr!2stn" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>            
        </div>
    </section>

</body>


