<footer>
    <div class="footer-container">
      <div class="footer-logo-section">
        <img src="../../assets/logoK.png" alt="Logo Karima Art">
        <span class="karima">Karima Art</span>
        <p>
          Créé en 2020, Karima Art révolutionne la formation aux métiers manuels
          en mettant à la disposition des formateurs des outils innovants
          leur permettant de former leurs élèves plus vite, en toute sécurité,
          et à des coûts moins élevés.
        </p>
      </div>
  
      <div class="footer-links-section">
        <nav>
          <ul>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Carrière</a></li>
            <li><a href="#">R&D</a></li>
          </ul>
        </nav>
      </div>
  
      <div class="footer-social-media-section">
        <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© Karima Art - Tous droits réservés</p>
    </div>
  </footer>
  