<div style="height: 80px;"></div>
<div class="event-container d-flex align-items-center">
    <div >
        <img src="../../assets/t.jpeg" alt="Event Image" class="img-fluid">
        <button class="join-button">Rejoindre</button>
    </div>    
    
    <div class="event-details ms-4">
        <h1>{{ eventName }}</h1>
        <p>{{ eventDescription }}</p>
        <h2 class="event-time">{{ startTime }} AM - {{ endTime }} PM</h2>    
        <div class="event-thumbnails d-flex">
            <img src="../../assets/t.jpeg" alt="Thumbnail 1" class="img-thumbnail me-2">
            <img src="../../assets/t.jpeg" alt="Thumbnail 2" class="img-thumbnail me-2">
            <img src="../../assets/t.jpeg" alt="Thumbnail 3" class="img-thumbnail">
        </div>
    </div>
</div>

  