.container {
  max-width: 1200px;
  margin: auto;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.card-text {
  font-size: 1rem;
  color: #555;
  flex-grow: 1;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #5cd4ef;
  margin-left: auto;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section input {
  margin-bottom: 10px;
}

.mt-auto {
  margin-top: auto;
}

.text-center {
  text-align: center;
}
